body{
height:100%;  
}
.navbar{
    background-color:#009999;
    margin-bottom: 0px;
}
#btmFooter {
    align-self: flex-end;
  }

  #footer {
   
    height: 50px;
    background-color: #009999;
    text-align: center;
    padding-top: 20px;
    position: fixed;
    bottom: 0;
    left:0;
    right:0;
    width: 100%;
}

mat-drawer-container{
 height: 100%;
width: 100%;
}
.example-sidenav-content{
    width:auto;
}

mat-nav-list{
    border:1px;
}

mat-drawer{
    background-color:#004d4d;
    color: white;

}

.menu-button {
    transition: 300ms ease-in-out;
    transform: rotate(0deg);
  }
  .menu-button.rotated {
    transform: rotate(180deg);
  }
  .submenu {
    overflow-y: hidden;
    transition: 300ms ease-in-out;
    height: 0;
  }
  .submenu.expanded {
    height: auto;
  }
  .white-icon {
    color:white;
}
h4{
    color:white;
}
.toggle{
  background-color: #004d4d;
  width: 100%;
  
  position: absolute;
  bottom: 0;
  height: 50px;
}