<body>
<div class="login-form" >
    <form [formGroup]="uploadForm" (ngSubmit)="onSubmit()"class="form-horizontal">
        <h2 class="text-center">Registration</h2>  
        <div class="form-group">
            <label for="firstName" class="col-sm-3 ">First Name<span class="required">*</span></label>
            <div class="col-sm-9">
                <input [class.is-invalid]="firstName.invalid && firstName.touched " formControlName="firstName" type="text" id="firstName" placeholder="First Name" class="form-control" >
                <div *ngIf="firstName.invalid && firstName.touched">
                    <small *ngIf="firstName.errors?.required" class="text-danger" >First Name is required</small>
                    <small *ngIf="firstName.errors?.pattern" class="text-danger" >First name contains only alphabets and (3-10) chars</small>
                </div>
            </div>
        </div>
        <div class="form-group">
            <label for="lastName" class="col-sm-3 ">Last Name<span class="required">*</span></label>
            <div class="col-sm-9">
                <input [class.is-invalid]="lastName.invalid && lastName.touched " formControlName="lastName"  type="text" id="lastName" placeholder="Last Name" class="form-control" >
                <div *ngIf="lastName.invalid && lastName.touched">
                    <small *ngIf="lastName.errors?.required" class="text-danger" >Last Name is required</small>
                    <small *ngIf="firstName.errors?.pattern" class="text-danger" >Last name contains only alphabets and (3-10) chars</small>
                </div>
            </div>
        </div>
        <div class="form-group">
            <label  for="email" class="col-sm-3">Email<span class="required">*</span></label>
            <div class="col-sm-9">
                <input [class.is-invalid]="email.invalid && email.touched " formControlName="email" type="email" id="email" placeholder="Email" class="form-control" name= "email">
                <div *ngIf="email.invalid && email.touched">
                    <small *ngIf="email.errors?.required" class="text-danger" >Email is required</small>
                    <small *ngIf="email.errors?.pattern" class="text-danger" >Invalid email format</small>
                </div>
            </div>
        </div>
        <div class="form-group">
            <label  for="userName" class="col-sm-3">UserName<span class="required">*</span></label>
            <div class="col-sm-9">
                <input [class.is-invalid]="userName.invalid && userName.touched " formControlName="userName"  type="text" class="form-control" placeholder="Username" required="required">
                <div *ngIf="userName.invalid && userName.touched">
                    <small *ngIf="userName.errors?.required" class="text-danger" >User Name is required</small>
                    <small *ngIf="userName.errors?.pattern" class="text-danger" >User Name must have(char, char & number and (5-10) chars)</small>
                </div>
            </div>
        </div>
        <!--Cross field validation-->
        <div class="form-group">
            <label for="password" class="col-sm-3 ">Password<span class="required">*</span></label>
            <div class="col-sm-9">
                <input [class.is-invalid]="password.invalid && password.touched " formControlName="password" type="password" id="password" placeholder="Password" class="form-control">
                <div *ngIf="password.invalid && password.touched">
                    <small *ngIf="password.errors?.required" class="text-danger" >Password is required</small>
                    <small *ngIf="password.errors?.pattern" class="text-danger" >Password must have (at least one number, one lowercase, one uppercase and (5-10) chars)</small>
                </div>
            </div>
        </div>
        <div class="form-group">
            <label for="confirmpassword" class="col-sm-3 ">Confirm Password<span class="required">*</span></label>
            <div class="col-sm-9">
                <input [class.is-invalid]="uploadForm.errors?.misMatch" formControlName="confirmPassword" type="password" id="confirmpassword" placeholder="Confirm Password" class="form-control">
                <div *ngIf="confirmPassword.invalid && confirmPassword.touched">
                    <small *ngIf="confirmPassword.errors?.required" class="text-danger" >Confirm the password</small>
                </div>
                <small *ngIf="uploadForm.errors?.misMatch" class="text-danger" >Passwords do not match</small>
            </div>
        </div>
        <div class="form-group">
            <label for="mobileNumber" class="col-sm-3 ">Mobile number<span class="required">*</span></label>
            <div class="col-sm-9">
                <input [class.is-invalid]="phoneNumber.invalid && phoneNumber.touched " formControlName="phoneNumber" type="mobileNumber" id="mobileNumber" placeholder="Mobile number" class="form-control">             
                <div *ngIf="phoneNumber.invalid && phoneNumber.touched">
                    <small *ngIf="phoneNumber.errors?.required" class="text-danger" >Mobile Number is required</small>
                    <small *ngIf="phoneNumber.errors?.pattern" class="text-danger" >Mobile Number is not in correct format</small>
                </div>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3">Gender</label>
            <div class="col-sm-6">
                <div class="row">
                    <div class="col-sm-4">
                        <label class="radio-inline">
                            <input type="radio" id="femaleRadio" value="Female">Female
                        </label>
                    </div>
                    <div class="col-sm-4">
                        <label class="radio-inline">
                            <input type="radio" id="maleRadio" value="Male">Male
                        </label>
                    </div>
                </div>
            </div>
        </div>
        <div class="form-group">
            <label for="hobbies" class="col-sm-3 ">Hobbies</label>
            <div class="col-sm-9">
                <div class="row">
                    <div class="col-sm-4">
                        <label class="pull-left checkbox-inline"><input type="checkbox"> Singing</label>
                    </div> 
                    <div class="col-sm-4">
                        <label class="pull-left checkbox-inline"><input type="checkbox"> Dancing</label>
                    </div>
                    <div class="col-sm-4">
                        <label class="pull-left checkbox-inline"><input type="checkbox"> Reading</label>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-4">
                        <label class="pull-left checkbox-inline"><input type="checkbox"> Travelling</label>
                    </div> 
                    <div class="col-sm-4">
                        <label class="pull-left checkbox-inline"><input type="checkbox"> Writing</label>
                    </div>
                </div>
            </div>
        </div>
        <div class="form-group">
            <label for="state" class="col-sm-3 ">State<span class="required">*</span></label>
            <div class="col-sm-9">
                <select (change)="changeCountry($event.target.value)" formControlName="stateName" id="inputState" class="form-control">
                    <option value="">-- SELECT STATE --</option>
                    <option *ngFor ="let count of stateList">{{count.name}} </option>
                  </select>
                  <div class="invalid-feedback" *ngIf="isSubmitted && stateName.errors?.required" class="text-danger" >
                   Please select your state
                </div>
            </div>
        </div>
        <div class="form-group">
            <label for="city" class="col-sm-3 ">City<span class="required">*</span></label>
            <div class="col-sm-9">
                <select formControlName="cityName" class="form-control">
                    <option *ngFor ="let city of cities">{{city}} </option>
                 </select>
            </div>
        </div> 
        <div class="form-group">
            <label for="profilePhoto" class="col-sm-3 ">Profile Photo</label>
            <div class="col-sm-9">
                <div  *ngIf="imageURL && imageURL !== ''">
                    <img class="avatar" [src]="imageURL ? imageURL : defaultImage" [alt]="uploadForm.value.name">
                </div>
                <input  type="file" accept="image/*" (change)="showPreview($event)" />
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-9">
                <button type="submit" [disabled]="!uploadForm.valid" class="btn btn-primary btn-block">Register</button>
            </div>
           
        </div>
        <p class="text-center"><a routerLink="/simple-login" routerLinkActive="active">I am already an user</a></p>    
    </form>
</div>
</body>